Pruebas/biblioteca.dtd

<!ELEMENT biblioteca (libro+)>
    <!ELEMENT libro (titulo, autor+, editorial, genero*, edicion?, descripcion?)>
        <!ELEMENT titulo (#PCDATA)>
        <!ELEMENT autor (#PCDATA)>
        <!ELEMENT editorial (#PCDATA)>
        <!ELEMENT genero (#PCDATA)>
        <!ELEMENT edicion (#PCDATA)>
        <!ELEMENT descripcion (#PCDATA)>